
.vs/Northwind.DotnetCore.API/v16/.suo
.vs/Northwind.DotnetCore.API/v16/Server/sqlite3/storage.ide-shm
.vs/Northwind.DotnetCore.API/v16/Server/sqlite3/storage.ide-wal
Northwind.DAL/obj/Debug/netstandard2.0/Northwind.DAL.assets.cache
Northwind.DAL/obj/Debug/netstandard2.0/Northwind.DAL.csproj.FileListAbsolute.txt
Northwind.DAL/obj/Debug/netstandard2.0/Northwind.DAL.csprojAssemblyReference.cache
Northwind.DAL/obj/Northwind.DAL.csproj.nuget.cache
Northwind.DAL/obj/Northwind.DAL.csproj.nuget.dgspec.json
Northwind.DAL/obj/project.assets.json
Northwind.DotnetCore.API/bin/Debug/netcoreapp2.2/Northwind.DotnetCore.API.dll
Northwind.DotnetCore.API/bin/Debug/netcoreapp2.2/Northwind.DotnetCore.API.pdb
Northwind.DotnetCore.API/obj/Debug/netcoreapp2.2/Northwind.DotnetCore.API.assets.cache
Northwind.DotnetCore.API/obj/Debug/netcoreapp2.2/Northwind.DotnetCore.API.csproj.CoreCompileInputs.cache
Northwind.DotnetCore.API/obj/Debug/netcoreapp2.2/Northwind.DotnetCore.API.csproj.FileListAbsolute.txt
Northwind.DotnetCore.API/obj/Debug/netcoreapp2.2/Northwind.DotnetCore.API.csprojAssemblyReference.cache
Northwind.DotnetCore.API/obj/Debug/netcoreapp2.2/Northwind.DotnetCore.API.dll
Northwind.DotnetCore.API/obj/Debug/netcoreapp2.2/Northwind.DotnetCore.API.pdb
Northwind.DotnetCore.API/obj/Northwind.DotnetCore.API.csproj.nuget.cache
Northwind.DotnetCore.API/obj/Northwind.DotnetCore.API.csproj.nuget.dgspec.json
Northwind.DotnetCore.API/obj/project.assets.json
Northwind.Logger/obj/Debug/netstandard2.0/Northwind.Logger.assets.cache
Northwind.Logger/obj/Debug/netstandard2.0/Northwind.Logger.csproj.FileListAbsolute.txt
Northwind.Logger/obj/Debug/netstandard2.0/Northwind.Logger.csprojAssemblyReference.cache
Northwind.Logger/obj/Northwind.Logger.csproj.nuget.cache
Northwind.Logger/obj/Northwind.Logger.csproj.nuget.dgspec.json
Northwind.Logger/obj/project.assets.json
